<!--orders.html file-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<form method="post" th:action="@{/orders/create}" th:object="${orderForm}">
    <label>
        Product name:
        <input type="text" th:field="*{productName}">
    </label>

    <label>
        Amount:
        <input type="number" th:field="*{amount}">
        <ul th:if="${#fields.hasErrors('amount')}">
            <li th:each="err : ${#fields.errors('amount')}" th:text="${err}">_Input is incorrect</li>
        </ul>

    </label>

    <button type="submit">SEND DATA</button>
    <div class="elements">
        <p th:each="elem : ${elements}" th:text="${elem}"></p>
    </div>
</form>
</body>
</html>